/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* Use Bootstrap classes for flex and alignments */
  color: white;
}

.App-link {
  color: #61dafb;
}

canvas {
  display: block; /* Ensure canvas is centered */
  margin: 0 auto;
  width: 100%; /* Full width for responsiveness */
  max-width: 640px; /* Limit the maximum width */
  height: auto; /* Auto-adjust height based on aspect ratio */
  object-fit: contain; /* Ensure content is contained properly */
  border: 2px solid #ccc;
}
